name: Actionlint templates

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
    paths:
      - "workflows/**"
      - ".github/workflows/actionlint.yml"
  merge_group:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Move workflow files
        run: |
          rm -v .github/workflows/*
          # サブディレクトリにあるworkflowファイルは無視する
          cp -v workflows/* .github/workflows/ || true

      - name: Run actionlint
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color -shellcheck=
