name: hadolint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  hadolint:
    name: hadolint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          recursive: true