name: hadolint

on:
  workflow_call:

permissions:
  contents: read

jobs:
  hadolint:
    name: hadolint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: hadolint
        uses: hadolint/hadolint-action@v3.3.0
        with:
          recursive: true