name: Actionlint with reviewdog

on:
  workflow_call:

permissions:
  contents: read

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run actionlint (Push)
        if: ${{ github.event_name == 'push' }}
        run: |
          bash <(curl https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash)
          ./actionlint -color

      - name: Run actionlint (Pull-Request)
        if: ${{ github.event_name == 'pull_request' }}
        uses: reviewdog/action-actionlint@v1
        with:
          fail_on_error: true
